oauth2
node_modules/
skip_auth
target
datastoredir/StoredCredential
*.swp
src/main/webapp/versions/versions.zip
src/main/webapp/lod-data.json
/nbproject/
Dockerfile.old
lod-cloud.tar
lod-data-mongo.json

lod-cloud-draw
clouds

lod-data.json
