oauth2
node_modules/
skip_auth
target
datastoredir/StoredCredential
*.swp
src/main/webapp/versions/versions.zip
src/main/webapp/lod-data.json
/nbproject/
Dockerfile.old
lod-cloud.tar
lod-data-mongo.json

lod-cloud-draw
clouds

lod-data.json

index-template
index.html
gh-token
lod-data.json2
mongodb.txt
.settings

.classpath
.project
lod-data-040923.json
lod-data-old.json