<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LODCloudServlet</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.LODCloudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONView</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.JSONView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDFView</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.RDFView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetList</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.DatasetList</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>DatasetSearchServlet</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.DatasetSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetEdit</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.DatasetEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetAdd</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.DatasetAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authorize</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.Authorize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizeCallback</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.AuthorizeCallback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractDB</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.ExtractDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClouds</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.UpdateClouds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LODCloudServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONView</servlet-name>
        <url-pattern>/json/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDFView</servlet-name>
        <url-pattern>/rdf/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetList</servlet-name>
        <url-pattern>/datasets</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>DatasetSearchServlet</servlet-name>
        <url-pattern>/datasets_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetEdit</servlet-name>
        <url-pattern>/edit-dataset/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetAdd</servlet-name>
        <url-pattern>/add-dataset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authorize</servlet-name>
        <url-pattern>/authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizeCallback</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractDB</servlet-name>
        <url-pattern>/extract/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClouds</servlet-name>
        <url-pattern>/update-clouds</url-pattern>
    </servlet-mapping>
     <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>DatasetDetail</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.DatasetDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatasetDetail</servlet-name>
        <url-pattern>/dataset/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>iLOD</servlet-name>
        <servlet-class>org.insightcentre.lodcloud.iLOD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iLOD</servlet-name>
        <url-pattern>/ilod/*</url-pattern>
    </servlet-mapping>
</web-app>
